version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: lumina
      POSTGRES_PASSWORD: lumina
      POSTGRES_DB: luminamt5
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
